@page :first{
    margin: 114px 0px 68px 23px !important;
    background: url('imgs/borda1.png');
    header: myHeader2;
}

@page{
    margin: 157px 99px 69px 116px;
    background: url('imgs/borda1.png');
    header: myHeader1;
    font-family: 'Times New Roman';
}

.capa{
    font-size: 17pt;
}

.cabecalho{
    line-height: inherit;
}

div{
    line-height: 17px;
}

.notaCompleta{
    text-indent: 46px;
    font-family: 'Times New Roman' !important;
}

.tituloParte{
    letter-spacing: 4px;
}

.td_nomepm{
    text-align: left;
}

.paginacao{
    margin-top: -18px;
}

.text-left{
    text-align: left;
}

table{
    border: solid 0.05cm black;
    border-spacing: 0px;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

thead{
    background-color: none !important;
}

table th{
    font-family: 'Times New Roman';
    font-size: 8pt;
    padding: 4px;
    border: solid black;
    border-width: 0.05cm;
}

table td{
    font-family: 'Times New Roman';
    font-size: 8pt;
    padding: 3px;
    border: solid black;
    border-width: 0.05cm;
}

.centralizado{
    text-align: center;
}

.tabela_pm{
    font-size: 8px;
    border: solid 0.5 black;  

    width:100%
}
.cabecalho_tabela_pm{
    font-size: 8px;
    border: solid 0.5 black;    
}
.body_tabela_pm{
    font-size: 8px;
    border: solid 0.5 black;    
}
.celula_tabela_pm{
    font-size: 8px;
    border: solid 0.5 black;    
}
.celula_tabela_pm_ord{
    font-size: 8px;
    width: 30px;
    border: solid 0.5 black;    
}
.celula_tabela_pm_postgrad{
    font-size: 8px;
    width: 50px;
    border: solid 0.5 black;    
}
.celula_tabela_pm_numpraca{
    font-size: 8px;
    width: 50px;
    border: solid 0.5 black;    
}
.celula_tabela_pm_matricula{
    font-size: 8px;
    width: 50px;
    border: solid 0.5 black;    
}

/** 
* Define the width, height, margins and position of the watermark.
**/
#watermarkBoletim {
    position: fixed;
    top: 20%;
    width: 100%;
    text-align: center;
    opacity: .2;
    transform: rotate(-50deg);
    transform-origin: 50% 50%;
    z-index: -1000;
    font-size: 95px;
    font-family: "Times New Roman";
}
#watermarkNota {
    position: fixed;
    top: 20%;
    width: 100%;
    text-align: center;
    opacity: .2;
    transform: rotate(-50deg);
    transform-origin: 50% 50%;
    z-index: -1000;
    font-size: 95px;
    font-family: "Times New Roman";
}
div {
    font-family: "Times New Roman";
}

#anexo{
    text-align: center;
    margin-bottom: 0px;
}
.table-sm table-bordered{
    border: 1px solid black;
}
th{
    text-align: center;
    
}
td{
    text-align: center;
    font-weight: normal;
}
.td_left{
    text-align: left;
    font-weight: normal;  
}
.parte {
    font-size: 16px;
}
.newpage {
    page-break-after: always;
}
.esquerda20 {
  margin-left: 20px;    
}
.direita20 {
  margin-right: 100px;    
}
.estiloTabela{
    width: 617px; 
    margin-bottom: 10px;
}
.capa{
    font-size: 20px;
    margin-bottom: 5px;
}
.tabela-boletim{
    width: 617px; 
    padding: 0px;
    border: solid 1 black;
}
.font-size-8{
    font-size: 8px;
}
.font-size-10{
    font-size: 10px;
}
.line-heigt-8 {
    LINE-HEIGHT: 8px;
}
.line-heigt-10 {
    LINE-HEIGHT: 10px;
}
.assinatura {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    line-height: 16px;
}
.inferior20 {
    margin-bottom: 20px;    
  }
.border{
    border: 1px solid black;
  
  
}

