
  /* Table Base */
  
  .table-jpms {
    border: #999999 solid 1px;
    width: 100%;
    margin-bottom: 20px;
    border-collapse:collapse;
  }
  
  .table-title{
    padding: 8px;
    background-color: #DCDCDC;
    color: #000;
    line-height: 3.0;
  }
  
  .table-jpms th,
  .table-jpms td {
    border: #999999 solid 1px;
    font-size: 10pt;
    text-align: center;
    padding: 4px;
  }

  footer {
    position: fixed; 
    bottom: -60px; 
    left: 0px; 
    right: 0px;
    height: 50px; 
    font-size: 8px;
    /** Extra personal styles **/
    text-align: center;
    line-height: 35px;
  }

  .cab-corpo-restricao{
    width: 80%;
    text-align: center;
    font-size: 11pt;
    padding: 0;
    margin: 0;
    line-height: 1;
  }
  .cab-corpo-apto{
   
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .brasao{
    position: relative;
    width: 60;
    float: left;
    text-align: center;
  }

  .cx-texto{
    position: absolute;
    top: 1.5cm; 
    right: 1px;
    width: 6cm;
    float: right;
    text-align: left;
    border: 1px solid #000;
  }

  .cx-texto-CMAPM{
    position: relative;
    width: 8cm;
    float: left;
    text-align: justify;
    border: 1px solid #000;
    line-height: 1;
    
  }

  .cx-texto-inferior{
    position: relative;
    float: left;
    width: 7.5cm;
    margin-top: 15px;
    text-align: left;
    border: 1px solid #000;
  }

  .targeta-parecer{
    width: 10cm;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt;
    border: 1px solid #000;
    background-color: rgba(199, 201, 195, 0.788);
    text-align: center;    
  }

  .targeta-parecer-apto{
    width: 10cm;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 2.7cm;
    font-size: 16pt;
    border: 1px solid #000;
    background-color: rgba(199, 201, 195, 0.788);
    text-align: center;    
  }

  .cab-descricao{
    font-size: 9pt;
    float: left;
    text-align: left;
  }

  .assinatura-nome{
    font-size: 10pt;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
  }

  .assinatura-funcao{
    font-size: 10pt;
    text-align: center;
    font-weight: bold
  }

  .esquerda{
    position: relative;
    float: left;
    width: 30%;
    text-align: center;
    line-height: 1;
  }

  .direita{
    position: relative;
    float: right;
    width: 55%;
    text-align: center;
    line-height: 1;
  }
  
  .direita-visto{
    position: relative;
    float: right;
    width: 5cm;
    text-align: center;
    line-height: 1;
  }
  
  .linha{
    position: relative;
    float: center;
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .col-md-6 {
    margin-left: 0;
    width: 49%;
  }

  p {
    text-indent: 40px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1;
  }

  li {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1;
  }

  .m-5 {
    margin: 5px;
  }

